h1 {
  font-size: 25px;
  color: rgb(87, 68, 68);
}
hr {
  background-color: rgb(24, 224, 24);
}
.red-error {
  color: red;
}
.ok {
  height: 100%;
  width: 100%;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.d-flex {
  padding-top: 10px;
}
